  <div class="col-md-12">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">The post title to be displayed on the Post Page and the lists:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-summary">The summary of the post to mention the key highlights:</label>
        <input class="form-input" type="text" id="post-summary" name="post-summary" />
      </div>
      <div class="form-group">
        <label for="post-content">Post Content:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script src="./js/create.js"></script>
